<h2>Painel de Controle</h2>
<hr>
<a href="/admin/categorias"><button type="button" class="btn btn-success mt-2">Gerenciar Categorias</button></a>
<a href="/admin/postagens"><button type="button" class="btn btn-success mt-2">Gerenciar Postagens</button></a>
