<div class="card mt-4">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Publicado em: {{post.date}}</small>
        <br/>
        <small>Categoria: {{post.category.name}}</small>
        <br/><br/>
        <p>{{post.content}}</p>
    </div>
</div>