<div class="row justify-content-center">
    <div class="card col-4" align="center">
        <div class="card-body">
            <h2>Login:</h2>
            <form action="/entrar" method="post">
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username" class="form-control" required />
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" class="form-control" required />
                <input type="submit" class="btn btn-success mt-4" value="Entrar">
            </form>
        </div>
    </div>
</div>